<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>好險有你-一起線上路跑</title>
    <link rel="preconnect"
          href="https://fonts.googleapis.com">
    <link rel="preconnect"
          href="https://fonts.gstatic.com"
          crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="./css/reset.css">
    <link rel="stylesheet"
          href="./css/global.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="./js/tailwind.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <main id="app"
          class="w-full relative">
        <header class="fixed w-full top-0 left-0 border-b-1 bg-white z-20 px-[20px]">
            <div class="w-full max-w-[1280px] h-[80px] mx-auto flex items-center justify-between">
                <div class="flex items-center">
                    <button type="button"
                            class="flex lg:hidden mx-[20px]"
                            @click="setExpandMenu(!expandMenu)">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             viewBox="0 0 24 24">
                            <path fill="currentColor"
                                  fill-rule="evenodd"
                                  d="M20.75 7a.75.75 0 0 1-.75.75H4a.75.75 0 0 1 0-1.5h16a.75.75 0 0 1 .75.75Zm0 5a.75.75 0 0 1-.75.75H4a.75.75 0 0 1 0-1.5h16a.75.75 0 0 1 .75.75Zm0 5a.75.75 0 0 1-.75.75H4a.75.75 0 0 1 0-1.5h16a.75.75 0 0 1 .75.75Z"
                                  clip-rule="evenodd" />
                        </svg>
                    </button>
                    <img src="./img/logo.svg"
                         alt=""
                         class="h-[40px] lg:h-[30px] xl:h-[50px]">
                </div>
                <div class="hidden lg:flex">
                    <a v-for="(item) in menu"
                       class="cursor-pointer ms-[10px] xl:ms-[20px]"
                       :key="item.id"
                       @click="scrollSmoothTo(item.id)">{{item.name}}</a>
                    <!-- <a href="#block1"
                       class="ms-[20px]">活動資訊</a>
                    <a href="#block2"
                       class="ms-[20px]">電子號碼布</a>
                    <a href="#block3"
                       class="ms-[20px]">陪跑親友加油禮</a>
                    <a href="#block4"
                       class="ms-[20px]">完賽證明</a>
                    <a href="#block5"
                       class="ms-[20px]">路跑獎項</a>
                    <a href="#block6"
                       class="ms-[20px]">線上路跑規則</a>
                    <a href="#block7"
                       class="ms-[20px]">紀錄上傳專區</a>
                    <a href="#block8"
                       class="ms-[20px]">我要報名</a>
                    <a href="#block9"
                       class="ms-[20px]">聯絡資訊</a> -->
                </div>
            </div>
        </header>
        <aside class="fixed left-0 top-0 z-50 flex flex-col h-screen overflow-y-hidden px-[36px] bg-white
  w-full transition py-[30px]"
               :class="[expandMenu ? 'translate-x-0': '-translate-x-full' ]">

            <button type="button"
                    class="absolute top-[20px] end-[20px]"
                    @click="setExpandMenu(!expandMenu)">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="48"
                     height="48"
                     viewBox="0 0 24 24">
                    <path fill="none"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-width="1.5"
                          d="m8.464 15.535l7.072-7.07m-7.072 0l7.072 7.07" />
                </svg>
            </button>
            <img src="./img/logo.svg"
                 alt=""
                 class="w-2/3 mb-[30px]">
            <div class="flex flex-col gap-y-[20px] text-center ">
                <a v-for="item in menu"
                   :key="item.id"
                   class="cursor-pointer text-[24px] py-[10px]"
                   @click="scrollSmoothTo(item.id)">{{item.name}}</a>
                <!-- <a href="#block2"
                   class="text-[24px] py-[10px]" @click="scrollSmooth(id)">電子號碼布</a>
                <a href="#block3"
                   class="text-[24px] py-[10px]" @click="scrollSmooth(id)">陪跑親友加油禮</a>
                <a href="#block4"
                   class="text-[24px] py-[10px]" @click="scrollSmooth(id)">完賽證明</a>
                <a href="#block5"
                   class="text-[24px] py-[10px]" @click="scrollSmooth(id)">路跑獎項</a>
                <a href="#block6"
                   class="text-[24px] py-[10px]" @click="scrollSmooth(id)">線上路跑規則</a>
                <a href="#block7"
                   class="text-[24px] py-[10px]" @click="scrollSmooth(id)">紀錄上傳專區</a>
                <a href="#block8"
                   class="text-[24px] py-[10px]" @click="scrollSmooth(id)">我要報名</a>
                <a href="#block9"
                   class="text-[24px] py-[10px]" @click="scrollSmooth(id)">聯絡資訊</a> -->
            </div>
        </aside>
        <img src="./img/banner.png"
             alt=""
             class="w-full mt-[80px]">
        <div id="block1"
             class="bg-white/30 py-[100px] p-[20px]">
            <div class="w-full max-w-[800px] mx-auto">
                <h2 class="text-center text-[40px] mb-[50px]">活動資訊
                </h2>
                <h2 class="text-[24px] mb-[30px]">
                    <div class="shrink-0 mb-[20px]">
                        活動名稱
                    </div>
                    <div class="text-[18px] ps-[30px]">
                        2023 好險有你一起線上路跑！
                    </div>
                </h2>
                <h2 class="text-[24px] mb-[30px]">
                    <div class="shrink-0 mb-[20px]">
                        活動介紹
                    </div>
                    <div class="text-[18px] ps-[30px]">
                    「2023好險有你：守護、關懷、愛系列活動」是財團法人保險安定基金為推廣保險知識所舉辦的一系列活動，今年也加入線上路跑，希望愛運動的朋友在運動的同時也可以獲得保險相關知識，讓你的每一步都更加有意義！
                    </div>
                </h2>
                <h2 class="flex text-[24px] mb-[20px]">
                    活動時程表
                </h2>
                <table class="text-left ms-[30px]">
                    <tr>
                        <th class="border border-solid border-white p-3 align-middle w-[400px]">
                            報名時間
                        </th>
                        <td class="border border-solid border-white p-3 align-middle">
                            2023/9/27-10/8
                        </td>
                    </tr>
                    <tr>
                        <th class="border border-solid border-white p-3 align-middle w-[400px]">
                            比賽時間
                        </th>
                        <td class="border border-solid border-white p-3 align-middle">
                            2023/10/9 00:00 - 10/29 23:59
                        </td>
                    </tr>
                    <tr>
                        <th class="border border-solid border-white p-3 align-middle w-[400px]">
                            紀錄上傳時間
                        </th>
                        <td class="border border-solid border-white p-3 align-middle">
                            2023/10/9-10/31 23:59
                        </td>
                    </tr>
                    <tr>
                        <th class="border border-solid border-white p-3 align-middle w-[400px]">
                            統計里程
                        </th>
                        <td class="border border-solid border-white p-3 align-middle">
                            2023/11/1-11/9
                        </td>
                    </tr>
                    <tr>
                        <th class="border border-solid border-white p-3 align-middle w-[400px]">
                            公布得獎名單<br>(含比賽獎項、電子號碼布禮品、陪跑親友加油禮)
                        </th>
                        <td class="border border-solid border-white p-3 align-middle">
                            2023/11/10
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"
                            class="border border-solid border-white p-3 align-middle">
                            獎項寄送：<br>
                            1.比賽獎項、電子號碼布禮品：以E-mail通知得獎，得獎者回覆簽收單及收件資料後陸續寄發<br>
                            2. 陪跑親友加油禮：FB私訊通知得獎，民眾填寫簽收單後陸續寄發</td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="pt-[150px]">
            <div class="w-full max-w-[800px] mx-auto">
                <h2 id="block2"
                    class="text-[24px] mb-[150px] relative">
                    <div class="bg-white/30 rounded-[20px] p-[20px] pt-[150px]">
                        <img src="./img/title1.png"
                             class="absolute z-10 top-0 h-[120px] md:h-[250px] mb-[20px] -translate-y-1/2"
                             alt="">
                        <div class="text-[18px] leading-[1.75] mb-[20px]">
                            只要報名「2023 好險有你一起線上路跑！」就可獲得專屬電子號碼布，前500位透過社群媒體分享給朋友的民眾，並截圖傳送至官方信箱：
                            <a href="mailto:tigfqq@gmail.com"
                               target="_blank"
                               class="underline">tigfqq@gmail.com</a>（主旨請標註:線上路跑電子號碼布分享），就可以獲得精美好禮一份，並可以獲得200元現金禮券的抽獎機會。(限量3名)
                        </div>
                        <div class="text-center">
                            <button type="button"
                                    class="text-primary py-[6px] px-[10px] 
                        border-solid border-[5px] border-secondary 
                        bg-white rounded-full text-[24px]"
                                    @click="setShowDialog">點我領取專屬電子號碼布</button>
                        </div>

                    </div>
                </h2>
                <h2 id="block3"
                    class="text-[24px] mb-[150px] relative">
                    <div class="bg-white/30 rounded-[20px] p-[20px] pt-[150px]">
                        <img src="./img/title2.png"
                             class="absolute z-10 top-0 h-[120px] md:h-[250px] mb-[20px] -translate-y-1/2"
                             alt="">
                        <div class="text-[18px] leading-[1.75] mb-[20px]">
                            只要於比賽時間分享「財團法人保險安定基金」粉專中線上路跑的貼文，為親友加油，即有機會獲得200元現金禮券的抽獎機會。(限量7名)
                        </div>
                        <div class="text-center">
                            <button type="button"
                                    class="text-primary py-[6px] px-[10px] 
                        border-solid border-[5px] border-secondary 
                        bg-white rounded-full text-[24px]"
                                    @click="share">點我分享貼文</button>
                        </div>


                    </div>
                </h2>
                <h2 id="block4"
                    class="text-[24px] mb-[150px] relative">
                    <div class="bg-white/30 rounded-[20px] p-[20px] pt-[150px] md:pe-[200px]">
                        <img src="./img/title3.png"
                             class="absolute z-10 top-0 h-[120px] md:h-[250px] mb-[20px] -translate-y-1/2"
                             alt="">
                        <div class="text-[18px] leading-[1.75] mb-[20px]">
                            「2023 好險有你一起線上路跑！」完賽後，每位參加者將獲得專屬電子完賽證明，以財團法人保險安定基金的吉祥物-保哥爲設計主軸，讓保哥與大家一同慶祝路跑完成的瞬間！
                        </div>

                        <img src="./img/certificate.png"
                             class="hidden md:block absolute z-10 bottom-0 end-0 h-[300px] lg:translate-x-[20%] translate-y-[30%]"
                             alt="">
                    </div>
                </h2>
            </div>
        </div>

        <div class="w-full max-w-[1280px] mx-auto gap-y-[16px]">
            <h2 id="block5"
                class="font-bold text-[24px] mb-[150px] relative">
                <div class="bg-white/30 rounded-[20px] p-[20px]">
                    <img src="./img/title4.png"
                         class="absolute z-10 top-0 h-[120px] md:h-[250px]  -translate-y-1/2"
                         alt="">
                    <div class="flex flex-col md:flex-row items-center md:items-start justify-around gap-y-[36px]">
                        <div class="w-2/3 md:w-1/4 flex flex-col items-stretch">
                            <div class="aspect-square flex items-center justify-center mb-[20px]">
                                <img src="./img/reward-pic-1.png"
                                     class="aspect-square w-full h-full object-center object-contain"
                                     alt="">
                            </div>
                            <div class="flex flex-col text-center items-center text-[24px]">
                                <span class="mb-[10px] bg-[#FF4622] text-[24px] font-bold text-white rounded-full px-[15px]">頭獎</span>
                                Apple Watch SE
                            </div>
                        </div>
                        <div class="w-2/3 md:w-1/4 flex flex-col items-stretch">
                            <div class="aspect-square flex items-center justify-center mb-[20px]">
                                <img src="./img/reward-pic-2.png"
                                     class="aspect-square w-full h-full object-center object-contain"
                                     alt="">
                            </div>
                            <div class="flex flex-col text-center items-center text-[24px]">
                                <span class="mb-[10px] bg-[#FF4622] text-[24px] font-bold text-white rounded-full px-[15px]">二獎</span>
                                松井32段強度<br>自動變速按摩筋膜槍
                            </div>
                        </div>
                        <div class="w-2/3 md:w-1/4 flex flex-col items-stretch">
                            <div class="aspect-square flex items-center justify-center mb-[20px]">
                                <img src="./img/reward-pic-3.png"
                                     class="aspect-square w-full h-full object-center object-contain"
                                     alt="">
                            </div>
                            <div class="flex flex-col text-center items-center text-[24px]">
                                <span class="mb-[10px] bg-[#FF4622] text-[24px] font-bold text-white rounded-full px-[15px]">三獎</span>
                                1000元現金禮券
                            </div>
                        </div>
                    </div>
                </div>
            </h2>
            <h2 id="block6"
                class="text-[24px] mb-[150px] relative">
                <div class="bg-white/50 rounded-[20px] p-[20px] pt-[100px]">
                    <img src="./img/title5.png"
                         class="absolute z-10 top-0 h-[120px] md:h-[250px] mb-[20px] -translate-y-1/2"
                         alt="">
                    <div class="text-[18px] leading-[1.75] mb-[20px]">
                        <p class="ps-[10px] mb-[20px]">
                            活動時間自由、無場地限制，在比賽時間2023/10/9 00:00-10/29 23:59內，開啟運動APP紀錄里程數(於紀錄上傳時間中可多次上傳累計) ，賽制採里程累計制。<br>
                        </p>
                        <span class="underline underline-offset-4 text-[20px]">Step 1：準備開始路跑</span><br>

                        <p class="ps-[10px] mb-[20px]">
                            在比賽時間內，穿好運動裝備，選定自己喜歡的時間及地點。<br>
                        </p>
                        <span class="underline underline-offset-4 text-[20px]">Step 2：紀錄里程數</span><br>

                        <p class="ps-[10px] mb-[20px]">跑步前，開啟手機上的「運動App」 ，按下「開始鍵」，紀錄跑步軌跡及里程數。<br>
                            （推薦運動App如下：Strava、Nike+、RQ跑力、JoiiSports、馬拉松世界等，選擇其中一個下載，並按照各家App步驟完成設定後即可開始使用。）<br>
                        </p>
                        <span class="underline underline-offset-4 text-[20px]"> Step 3： 上傳完成紀錄</span><br>


                        <p class="ps-[10px] mb-[20px]">
                            跑步停止後，按下運動App的「完成鍵」並且按下「儲存」，將紀錄保存下來，使用手機螢幕照相功能將紀錄存成圖片，於紀錄上傳時間內填寫表單：點我上傳紀錄<br>
                            （每一筆紀錄填寫一單，切勿重複填寫）
                        </p>

                    </div>
                </div>
            </h2>
        </div>

        <!-- 紀錄上傳專區 -->
        <div id="block7"
             class="bg-white/30 py-[100px] mb-[50px]">
            <div class="w-full max-w-[800px] mx-auto">
                <h2 class="text-center text-[40px] mb-[50px]">
                    紀錄上傳專區
                </h2>
                <h2 class="text-[24px] mb-[60px]">
                    <div class="text-[18px] ps-[30px]">
                        ＊紀錄上傳時間：2023/10/9-10/31 23:59<br>
                        ＊需於紀錄上傳時間內填寫以下表單：（每一筆紀錄填寫一單，切勿重複填寫）
                    </div>
                </h2>
                <div class="text-center">
                    <a target="_blank"
                       href="https://forms.gle/yAA2xkgyqGKYq7Ka7"
                       class="text-primary py-[6px] px-[10px] 
            border-solid border-[5px] border-secondary 
            bg-white rounded-full text-[24px]">點我上傳紀錄</a>
                </div>
            </div>
        </div>

        <!-- 我要報名 -->
        <div id="block8"
             class="bg-white/30 py-[100px]">
            <div class="w-full max-w-[800px] mx-auto">
                <h2 class="text-center text-[40px] mb-[50px]">
                    我要報名
                </h2>
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeh49j4gGxhG0dnNT6dvTigpISCLMd4efn4X8j_tm7wuoCk6g/viewform?embedded=true"
                        width="800"
                        class="w-full mb-[50px]"
                        height="800"
                        frameborder="0"
                        marginheight="0"
                        marginwidth="0">載入中…</iframe>
                <div class="text-center">
                    <a target="_blank"
                       href="https://forms.gle/rBtMeh5FA6C46PGg7"
                       class="text-primary py-[6px] px-[10px] 
                    border-solid border-[5px] border-secondary 
                    bg-white rounded-full text-[24px]">點我開新分頁報名</a>
                </div>
            </div>
        </div>

        <div id="block9"
             class="py-[50px]">
            <div class="w-full max-w-[800px] mx-auto">
                <h2 class="text-center text-[40px] mb-[20px]">
                    聯絡資訊
                </h2>

                <div class="bg-white/30 rounded-[20px] py-[20px]">

                    <div class="flex flex-col md:flex-row">
                        <div class="px-[20px]">
                            <div class="flex">
                                <a target="_blank"
                                   class="me-[8px]"
                                   href="https://www.facebook.com/tigf.org.tw">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="32"
                                         height="32"
                                         viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                              d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95z" />
                                    </svg>
                                </a>
                                <a target="_blank"
                                   href="https://www.instagram.com/taiwan_insurance_guaranty_fund/">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="32"
                                         height="32"
                                         viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                              d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z" />
                                    </svg>
                                </a>
                            </div>
                            <div class="text-[18px] leading-[1.75] mb-[10px]">
                                服務電話：02-85211503#1305 梁小姐<br>
                                服務時間：週一至周五11:00-18:00<br>
                                服務信箱：
                                <a href="mailto:tigfqq@gmail.com"
                                   class="underline-offset-4 underline"
                                   target="tigfqq@gmail.com">tigfqq@gmail.com</a>
                            </div>
                        </div>
                        <div class="px-[20px]">
                            <h2 class="text-start text-[18px] mb-[20px]">
                                主辦單位
                            </h2>
                            <a target="_blank"
                               href="https://www.tigf.org.tw/?fbclid=IwAR1knBNJUifjhlVZXRDxGu54mFNcEPlRJ347dZbLtM7AfEaW6EkrtmsYnAw">
                                <img src="./img/logo.svg"
                                     alt=""
                                     class="w-[250px]">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="showDialog"
             id="dialog"
             :class="{'hidden': !showDialog}">

            <!-- modal backdrop -->
            <div class="fixed inset-0 bg-dark bg-black/50 z-40"
                 @click.self="setShowDialog()" />

            <div class="fixed w-[90%] max-w-[600px] px-[20px] py-[40px] md:p-[60px]
top-1/2 start-1/2 -translate-x-1/2 -translate-y-1/2 z-50
bg-white rounded-[20px] overflow-hidden">
                <!-- cross -->
                <button class="block absolute top-[16px] end-[16px] z-10"
                        @click.prevent="setShowDialog()">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         viewBox="0 0 44 44"
                         fill="none">
                        <path d="M2.5 2.5L41.5 41.5"
                              stroke="#4B4B4B"
                              stroke-width="4"
                              stroke-linecap="round" />
                        <path d="M2.5 41.5L41.5 2.5"
                              stroke="#4B4B4B"
                              stroke-width="4"
                              stroke-linecap="round" />
                    </svg>
                </button>
                <div class="flex flex-col w-full text-center gap-y-[16px]">

                    <div class="flex flex-col md:flex-row items-start md:items-center gap-y-[10px] md:gap-y-0">
                        輸入姓名：
                        <input v-model="name"
                               class="grow border h-[40px] rounded-[10px] px-[10px]"
                               type="text">
                    </div>
                    <div class="flex flex-col md:flex-row items-start md:items-center gap-y-[10px] md:gap-y-0">
                        輸入號碼：
                        <input v-model="number"
                               class="grow border h-[40px] rounded-[10px] px-[10px]"
                               type="text"
                               maxlength="4">
                    </div>
                    <canvas class="w-full hidden"
                            width="1600"
                            height="900"
                            id="combinedResultCanvas"></canvas>
                    <img class="w-full aspect-video"
                         :src="numberUrl || './img/number-bg.png'"
                         alt="">
                    <img id="number-bg"
                         class="w-full aspect-video hidden"
                         src="./img/number-bg.png"
                         alt="">

                    <button type="button"
                            class="text-primary py-[6px] px-[10px] 
            border-solid border-[5px] border-secondary 
            bg-white rounded-full text-[24px]"
                            @click="setCombinedResultCanvas">
                        <span v-if="numberUrl">再次</span>生成</button>

                    <a v-if="numberUrl"
                       :href="numberUrl"
                       download="我的電子號碼布.png"
                       class="text-primary py-[6px] px-[10px] 
            border-solid border-[5px] border-secondary 
            bg-white rounded-full text-[24px]">下載</a>
                </div>
            </div>
        </div>
    </main>
    <script type="module"
            src="./js/app.js"></script>
</body>

</html>